In [1]:
import pandas as pd
from scipy.spatial import distance_matrix

## Загрузка данных:

In [2]:
# Грузим датасет с данными о распространении вируса
df_covid = pd.read_csv('Regions.csv', sep=';')
df_covid.columns = ['date', 'reg', 'conf', 'recov', 'deaths', 'deaths_day', 'conf_day', 'recov_day']

# Меняем названия регионов которые не сходятся с названиями в другом датасете
df_covid = df_covid.replace(['Кабардино-Балкария', 'Карачаево-Черкессия', 'Саха (Якутия)', 'Северная Осетия', 'Удмуртия', 'ХМАО – Югра', 'Чечня', 'Чувашия'],\
           ['Кабардино-Балкарская', 'Карачаево-Черкесская', 'Саха /Якутия/', 'Северная Осетия - Алания', 'Удмуртская', 'Ханты-Мансийский Автономный округ - Югра', 'Чеченская', 'Чувашская Республика'])

# Обрезаем "край", "обл." и "АО"
df_covid.reg = df_covid.reg.apply(lambda x: x.split('край',1)[0].split('обл.', 1)[0].split('АО', 1)[0].rstrip())
df_covid

,date,reg,conf,recov,deaths,deaths_day,conf_day,recov_day
0,02.03.2020,Московская,1,0,0,0,1,0
1,03.03.2020,Московская,1,0,0,0,0,0
2,04.03.2020,Московская,1,0,0,0,0,0
3,05.03.2020,Московская,1,0,0,0,0,0
4,06.03.2020,Москва,5,0,0,0,5,0
...,...,...,...,...,...,...,...,...
6903,31.05.2020,Чеченская,1227,828,13,0,18,3
6904,31.05.2020,Чувашская Республика,2885,1242,14,0,87,30
6905,31.05.2020,Чукотский,80,54,1,0,2,1
6906,31.05.2020,Ямало-Ненецкий,2375,975,9,0,65,22
6907,31.05.2020,Ярославская,3132,756,14,0,77,5

In [3]:
# Грузим датасет с геоданными
df_cities = pd.read_csv('tableconvert_csv_7t1xix.csv')
df_cities = df_cities[['Тип региона', 'Регион', 'Город', 'Широта', 'Долгота', 'Федеральный округ', 'Население']]
df_cities.columns = ['reg_type', 'reg', 'city', 'lat', 'long', 'fed_reg', 'population']

In [4]:
# Список региональных центров (столиц)
reg_centres = ['Красногорск', 'Всеволожск', 'Майкоп', 'Горно-Алтайск', 'Барнаул', 'Архангельск', 'Астрахань', 'Уфа', 'Белгород', 'Брянск', 'Улан-Удэ', 'Владимир', 'Волгоград', 'Вологда', 'Воронеж', 'Махачкала', 'Биробиджан', 'Чита', 'Иваново', 'Магас', 'Иркутск', 'Нальчик', 'Калининград', 'Элиста', 'Калуга', 'Петропавловск-Камчатский', 'Черкесск', 'Петрозаводск', 'Кемерово', 'Сыктывкар', 'Кострома', 'Краснодар', 'Красноярск', 'Симферополь', 'Курган', 'Курск', 'Санкт-Петербург', 'Липецк', 'Магадан', 'Йошкар-Ола', 'Саранск', 'Москва', 'Мурманск', 'Нарьян-Мар', 'Нижний Новгород', 'Великий Новгород', 'Новосибирск', 'Омск', 'Оренбург', 'Орёл', 'Пенза', 'Пермь', 'Владивосток', 'Псков', 'Ростов-на-Дону', 'Рязань', 'Самара', 'Санкт-Петербург', 'Саратов', 'Якутск', 'Южно-Сахалинск', 'Екатеринбург', 'Севастополь', 'Владикавказ', 'Смоленск', 'Ставрополь', 'Тамбов', 'Казань', 'Тверь', 'Томск', 'Тула', 'Кызыл', 'Тюмень', 'Ижевск', 'Ульяновск', 'Хабаровск', 'Абакан', 'Ханты-Мансийск', 'Челябинск', 'Грозный', 'Чебоксары', 'Анадырь', 'Салехард', 'Ярославль']

In [5]:
# Маркируем столицы субъектов единичкой в столбце is_centre
df_cities['is_centre'] = df_cities['city'].apply(lambda x: 1 if x in reg_centres else 0)

# Севастополь, Москву и Питер хардкодим
big_cities_indexes = df_cities[df_cities['city'].isna() & ((df_cities['reg'] == 'Севастополь') | \
                                                           (df_cities['reg'] == 'Москва') | \
                                                           (df_cities['reg'] == 'Санкт-Петербург'))].index
df_cities.loc[big_cities_indexes, 'is_centre'] = 1

df_cities.loc[df_cities[df_cities['reg'] == 'Севастополь'].index, 'city'] = 'Севастополь'
df_cities.loc[df_cities[df_cities['reg'] == 'Москва'].index, 'city'] = 'Москва'
df_cities.loc[df_cities[df_cities['reg'] == 'Санкт-Петербург'].index, 'city'] = 'Санкт-Петербург'

# Здесь, в силу того что есть два г. Киров и два г. Благовещенск в разных субъектах, тоже приходится хардкодить
small_cities_indexes = df_cities[((df_cities['city'] == 'Киров') & (df_cities['reg'] == 'Кировская')) |\
                                 ((df_cities['city'] == 'Благовещенск') & (df_cities['reg'] == 'Амурская'))].index
df_cities.loc[small_cities_indexes, 'is_centre'] = 1

# И с Чечней и Адлером какой то баг приходится поправить:
df_cities.loc[df_cities[df_cities['city'].isna() & (df_cities['reg'] == 'Чеченская')].index, 'city'] = 'Урус-Мартан'
adler = pd.DataFrame([['край', 'Краснодарский', 'Адлер', 43.438166, 39.911178, 'Южный', 111600, 0]])
adler.columns = df_cities.columns
adler.index = [len(df_cities)]
df_cities = df_cities.append(adler)

# Отдельный датасет только со столицами субъектов
df_cities_centres = df_cities[df_cities.is_centre == 1]
df_cities_centres.index = range(len(df_cities_centres))

## Список всех городов:

In [6]:
df_cities

,reg_type,reg,city,lat,long,fed_reg,population,is_centre
0,Респ,Адыгея,Адыгейск,44.878372,39.190172,Южный,12689,0
1,Респ,Адыгея,Майкоп,44.609827,40.100653,Южный,144055,1
2,Респ,Алтай,Горно-Алтайск,51.958268,85.960296,Сибирский,62861,1
3,край,Алтайский,Алейск,52.492091,82.779415,Сибирский,28528,0
4,край,Алтайский,Барнаул,53.348115,83.779836,Сибирский,635585,1
...,...,...,...,...,...,...,...,...
1108,обл,Ярославская,Рыбинск,58.048380,38.858338,Центральный,200771,0
1109,обл,Ярославская,Тутаев,57.867424,39.536823,Центральный,41001,0
1110,обл,Ярославская,Углич,57.522387,38.301979,Центральный,34505,0
1111,обл,Ярославская,Ярославль,57.621614,39.897878,Центральный,591486,1
1112,край,Краснодарский,Адлер,43.438166,39.911178,Южный,111600,0

## Список только столиц субъектов:

In [7]:
df_cities_centres

,reg_type,reg,city,lat,long,fed_reg,population,is_centre
0,Респ,Адыгея,Майкоп,44.609827,40.100653,Южный,144055,1
1,Респ,Алтай,Горно-Алтайск,51.958268,85.960296,Сибирский,62861,1
2,край,Алтайский,Барнаул,53.348115,83.779836,Сибирский,635585,1
3,обл,Амурская,Благовещенск,50.290593,127.527219,Дальневосточный,214397,1
4,обл,Архангельская,Архангельск,64.539299,40.517008,Северо-Западный,348716,1
...,...,...,...,...,...,...,...,...
80,Чувашия,Чувашская Республика,Чебоксары,56.143938,47.248872,Приволжский,447929,1
81,АО,Чукотский,Анадырь,64.731435,177.501575,Дальневосточный,13053,1
82,Респ,Саха /Якутия/,Якутск,62.028027,129.732572,Дальневосточный,269486,1
83,АО,Ямало-Ненецкий,Салехард,66.549357,66.608399,Уральский,42494,1
84,обл,Ярославская,Ярославль,57.621614,39.897878,Центральный,591486,1

## Дальше матрицы расстояний:

In [21]:
# Все города
df_locations = df_cities[['lat', 'long']]
cities_names = df_cities['city']
df_locations.index = cities_names
dist_matrix = pd.DataFrame(distance_matrix(df_locations.values, df_locations.values), index=df_locations.index, columns=df_locations.index)

# Центры регионов
df_locations_centres = df_cities_centres[['lat', 'long']]
cities_names_centres = df_cities_centres['reg']
df_locations_centres.index = cities_names_centres
dist_matrix_centres = pd.DataFrame(distance_matrix(df_locations_centres.values, df_locations_centres.values), index=df_locations_centres.index, columns=df_locations_centres.index)

In [22]:
df_locations_centres
df_cities_centres

,reg_type,reg,city,lat,long,fed_reg,population,is_centre
0,Респ,Адыгея,Майкоп,44.609827,40.100653,Южный,144055,1
1,Респ,Алтай,Горно-Алтайск,51.958268,85.960296,Сибирский,62861,1
2,край,Алтайский,Барнаул,53.348115,83.779836,Сибирский,635585,1
3,обл,Амурская,Благовещенск,50.290593,127.527219,Дальневосточный,214397,1
4,обл,Архангельская,Архангельск,64.539299,40.517008,Северо-Западный,348716,1
...,...,...,...,...,...,...,...,...
80,Чувашия,Чувашская Республика,Чебоксары,56.143938,47.248872,Приволжский,447929,1
81,АО,Чукотский,Анадырь,64.731435,177.501575,Дальневосточный,13053,1
82,Респ,Саха /Якутия/,Якутск,62.028027,129.732572,Дальневосточный,269486,1
83,АО,Ямало-Ненецкий,Салехард,66.549357,66.608399,Уральский,42494,1
84,обл,Ярославская,Ярославль,57.621614,39.897878,Центральный,591486,1

## Матрица расстояний по всем городам:

In [23]:
dist_matrix

city,Адыгейск,Майкоп,Горно-Алтайск,Алейск,Барнаул,Белокуриха,Бийск,Горняк,Заринск,Змеиногорск,...,Любим,Мышкин,Переславль-Залесский,Пошехонье,Ростов,Рыбинск,Тутаев,Углич,Ярославль,Адлер
city,,,,,,,,,,,,,,,,,,,,,
Адыгейск,0.000000,0.949258,47.302953,44.249190,45.386944,46.343707,46.656972,42.714764,46.585401,43.453222,...,13.566438,12.930752,11.862428,13.628132,12.329134,13.174189,12.993677,12.675173,12.762879,1.610603
Майкоп,0.949258,0.000000,46.444660,43.400539,44.544683,45.487078,45.804818,41.854024,45.744387,42.592961,...,13.764653,13.280782,12.190099,13.930989,12.612619,13.495854,13.269581,13.037232,13.013368,1.186882
Горно-Алтайск,47.302953,46.444660,0.000000,3.225364,2.585745,0.976992,0.945942,4.597415,2.028366,3.856979,...,45.723984,47.862397,47.347665,47.294782,46.817386,47.494041,46.798044,47.982023,46.409264,46.830688
Алейск,44.249190,43.400539,3.225364,0.000000,1.316670,2.259735,2.434930,1.990505,2.470985,1.459589,...,42.499771,44.640406,44.129653,44.070715,43.597066,44.271134,43.575405,44.760989,43.187246,43.813916
Барнаул,45.386944,44.544683,2.585745,1.316670,0.000000,1.810570,1.646380,3.299269,1.206065,2.707921,...,43.383581,45.542507,45.053094,44.955739,44.509423,45.166730,44.473232,45.669027,44.089557,44.974062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Рыбинск,13.174189,13.495854,47.494041,44.271134,45.166730,46.521076,46.681752,43.185388,46.277281,43.873357,...,1.855317,0.480596,1.312343,0.527929,1.023268,0.000000,0.702202,0.765640,1.123731,14.648100
Тутаев,12.993677,13.269581,46.798044,43.575405,44.473232,45.824906,45.986761,42.486517,45.584959,43.174932,...,1.251959,1.085439,1.321306,0.762302,0.669761,0.702202,0.000000,1.282143,0.436787,14.434113
Углич,12.675173,13.037232,47.982023,44.760989,45.669027,47.008027,47.175814,43.652667,46.785378,44.344356,...,2.528449,0.306325,0.960937,1.280211,1.179361,0.765640,1.282143,0.000000,1.598981,14.175852
Ярославль,12.762879,13.013368,46.409264,43.187246,44.089557,45.435762,45.600107,42.090872,45.203470,42.780472,...,1.082034,1.453172,1.368677,1.177392,0.620638,1.123731,0.436787,1.598981,0.000000,14.183455
Адлер,1.610603,1.186882,46.830688,43.813916,44.974062,45.878097,46.207869,42.235199,46.176426,42.975135,...,14.943971,14.423767,13.339810,15.088866,13.774987,14.648100,14.434113,14.175852,14.183455,0.000000

## Матрица расстояний только по региональным центрам:

In [25]:
dist_matrix_centres

In [ ]:
dist_matrix_centres.to_csv('./raw_distances_matrix.csv')

# Тутушный датасет:

In [11]:
tutu = pd.read_csv('result_export.created_2020-03-17_13-46.csv')
# Сразу заменяем названия городов которые не бьются
tutu = tutu.replace(['Симферополь (Крым)', 'Ростов Великий', 'Новгород Великий', 'Зеленогорск (ЗАТО)', 'Вышний Волочёк', 'Фокино (ЗАТО)', 'Пикалёво', 'Большой Камень (ЗАТО)', 'Семёнов', 'Пугачёв', 'Озёры', 'Артёмовский', 'Олёкминск', 'Очёр', 'Озёрск', 'Трёхгорный', 'Чёрмоз', 'Артёмовск', 'Гусиноозёрск', 'Ербогачён', 'Артём', 'Заозёрный', 'Плёс', 'Жигулёвск', 'Новохопёрск', 'Будённовск', 'Киселёвск'], ['Симферополь', 'Ростов', 'Великий Новгород', 'Зеленогорск', 'Вышний Волочек', 'Фокино', 'Пикалево', 'Большой Камень', 'Семенов', 'Пугачев', 'Озеры', 'Артемовский', 'Олекминск', 'Очер', 'Озерск', 'Трехгорный', 'Чермоз', 'Артемовск', 'Гусиноозерск', 'Ербогачен', 'Артем', 'Заозерный', 'Плес', 'Жигулевск', 'Новохоперск', 'Буденновск', 'Киселевск'])

In [12]:
tutu_cities = set(list(tutu.arrival.values) + list(tutu.departure.values))

## Города которые есть в датасете туту но нет в df_cities:

In [13]:
lst = []
for c in tutu_cities:
    if c not in set(df_cities.city):
        lst.append(c)
print(lst, '\n\n', len(lst))

['Омсукчан', 'Верхневилюйск', 'Калевала', 'Черский', 'Синяя Осока', 'Сонково', 'Светлогорск (Красноярск.)', 'Дмитриев-Льговский', 'Тура', 'Мотыгино', 'Чокурдах', 'Псебай', 'Кепервеем', 'Жиганск', 'Эвенск', 'Карагайский', 'Усть-Нера', 'Известковый', 'Лазаревское', 'Салми', 'Каргасок', 'Аян', 'Омолон', 'Таксимо', 'Железнодорожный', 'Саккырыр', 'Оленёк', 'Диксон', 'Пряжа', 'Толька', 'Ноглики', 'Славянка', 'Максатиха', 'Красный Чикой', 'Чумикан', 'Усть-Куйга', 'Хатанга', 'Маркс ', 'Чернолучье', 'Ванавара', 'Чара', 'Сычёвка', 'Хотынец', 'Павелец', 'Ожерелье', 'Манжерок', 'Дагомыс', 'Пржевальское', 'Южно-Курильск', 'Ванино', 'Кугеси', 'Сеймчан', 'Усть-Качка', 'Забайкальск', 'Казачинское', 'Охотск', 'Хандыга', 'Колпино', 'Иловля', 'Шахтерск', 'Депутатский', 'Пено', 'Кослан', 'Саскылах', 'Нижнеангарск', 'Озеро-Карачинское', 'Тикси', 'Берёзово', 'Туруханск', 'Усть-Кокса', 'Чемал', 'Сандово', 'Артышта', 'Павловская', 'Ербогачен', 'Черноморское', 'Староминская', 'Байкит', 'Лоо', 'Крутинка', 'Северо-Енисейский', 'Изборск', 'Новоабзаково', 'Мама', 'Багдарин', 'Усть-Цильма', 'Талакан', 'Богородское', 'Хонуу', 'Залахтовье', 'Сунтар', 'Бежаницы', 'Зырянка', 'Тимашёвск', 'Новомихайловский', 'Кавалерово', 'Берёзовый', 'Белая Гора', 'Симеиз', 'Шушенское', 'Батагай', 'Приобье', 'Игрим', 'Хоста']

 104

## Сортировка записей с не попавшими в наш датасет городами по количеству пассажиров

In [14]:
tutu[tutu.departure.isin(lst) | tutu.arrival.isin(lst)].sort_values(by='passengers', ascending=False)

      transport        departure       arrival  passengers
3352        bus       Красноярск      Мотыгино       17792
3409        bus            Тверь     Максатиха       16303
3486        bus  Санкт-Петербург      Бежаницы       12840
3530        bus  Санкт-Петербург         Салми       12006
3651        bus  Санкт-Петербург       Сандово        9236
...         ...              ...           ...         ...
16838     train        Мичуринск         Хоста          13
14273     train          Таксимо      Нерюнгри          13
16881     train            Хоста       Россошь          12
14121     train         Слюдянка   Забайкальск          12
14568     train         Бежаницы  Петрозаводск          12

[828 rows x 4 columns]

In [15]:
cols = ['city','reg','reg_type']
tutu_1=pd.merge(
    tutu, 
    df_cities[cols].rename(columns={x:x+'_departure' for x in cols}), 
    left_on='departure',
    right_on='city_departure', 
    how='left'
)
tutu_1=pd.merge(
    tutu_1, 
    df_cities[cols].rename(columns={x:x+'_arrival' for x in cols}), 
    left_on='arrival',
    right_on='city_arrival', 
    how='left'
)
agg_travel = tutu_1.groupby(['reg_departure','reg_arrival','transport'])['passengers'].sum().reset_index().pivot_table(index=['reg_departure','reg_arrival'], columns=['transport'],values='passengers').fillna(0).reset_index()
agg_travel['total_travel'] = agg_travel.loc[:,['avia','bus','train']].sum(axis=1)


reg_populations = pd.read_excel('./region_populations1.xlsx').groupby('Регион').sum()
agg_travel=agg_travel.join(
    reg_populations, on='reg_departure').rename(columns={'Все 2020':'population_departure'}
    ).join(
    reg_populations, on='reg_arrival').rename(columns={'Все 2020':'population_arrival'})

agg_travel['outward_frac'] = agg_travel['total_travel']/agg_travel['population_departure']

In [16]:
relative_travel_matrix = agg_travel.pivot(index='reg_departure',columns='reg_arrival',values='outward_frac').fillna(0)
absolute_travel_matrix = agg_travel.pivot(index='reg_departure',columns='reg_arrival',values='total_travel').fillna(0)
# relative_travel_matrix.to_csv('./relative_travel_matrix.csv')
# absolute_travel_matrix.to_csv('./absolute_travel_matrix.csv')